:root {
  --primary-color: #f3a3b6;
  --secondary-color: #8d5e99;
  --background-color: #3b2c42;
  --text-color: #ffffff;
  --border-color: #f7c6d1;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --button-color: #f8c4d9;
  --font-pixel: "VT323", monospace;
}
