/* ProjectIcons.module.css */

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.projectIcon {
    background: #555;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    transition: transform 0.3s, background 0.3s;
}
  
.projectIcon:hover {
    background: #777;
    transform: scale(1.1);
}
  